#u3667-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3455-18
{
	font-family: ubuntu-n5, sans-serif;
}

#u2714-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u2715-4,#u2818-4,#u4579-4,#u5150-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2822-4,#u2863-4,#u1901-4,#u1975-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2859-4,#u2904-4,#u2819-4,#u2860-4,#u2861-4,#u2862-4,#u2820-4,#u2821-4,#u1934-4,#u2008-4,#u1972-4,#u1973-4,#u1974-4,#u1899-4,#u1900-4,#u1898-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2864-4,#u2865-4,#u2866-4,#u2823-4,#u2824-4,#u2825-4,#u2826-4,#u2867-4,#u2829-4,#u2830-4,#u2868-4,#u2869-4,#u2870-4,#u2871-4,#u2827-4,#u2828-4,#u2831-4,#u2832-4,#u2833-4,#u2834-4,#u2872-4,#u2873-4,#u2874-4,#u2875-4,#u2835-4,#u2836-4,#u2837-4,#u2838-4,#u2876-4,#u2877-4,#u2878-4,#u2879-4,#u2839-4,#u2840-4,#u2841-4,#u2842-4,#u2880-4,#u2881-4,#u2882-4,#u2883-4,#u2843-4,#u2844-4,#u2845-4,#u2846-4,#u2884-4,#u2885-4,#u2886-4,#u2887-4,#u2847-4,#u2848-4,#u2849-4,#u2850-4,#u2888-4,#u2889-4,#u2890-4,#u2891-4,#u2851-4,#u2853-4,#u2855-4,#u2857-4,#u2892-4,#u2895-4,#u2898-4,#u2901-4,#u2852-4,#u2854-4,#u2856-4,#u2858-4,#u2893-4,#u2896-4,#u2899-4,#u2902-4,#u2894-4,#u2897-4,#u2900-4,#u2905-4,#u2906-4,#u2907-4,#u2908-4,#u2903-4,#u1976-4,#u1977-4,#u1978-4,#u1902-4,#u1903-4,#u1904-4,#u1905-4,#u1979-4,#u1980-4,#u1981-4,#u1982-4,#u1906-4,#u1907-4,#u1908-4,#u1909-4,#u1983-4,#u1984-4,#u1985-4,#u1986-4,#u1910-4,#u1911-4,#u1912-4,#u1913-4,#u1987-4,#u1916-4,#u1917-4,#u1988-4,#u1989-4,#u1990-4,#u1991-4,#u1914-4,#u1915-4,#u1918-4,#u1919-4,#u1920-4,#u1921-4,#u1992-4,#u1993-4,#u1994-4,#u1995-4,#u1922-4,#u1923-4,#u1924-4,#u1925-4,#u1996-4,#u1997-4,#u1998-4,#u1999-4,#u1926-4,#u1927-4,#u1928-4,#u1929-4,#u2000-4,#u2001-4,#u2002-4,#u2003-4,#u1930-4,#u1931-4,#u1932-4,#u1933-4,#u2012-4,#u2010-4,#u2011-4,#u2013-4,#u2292-4,#u2293-4,#u2294-4,#u2295-4,#u2004-4,#u2005-4,#u2006-4,#u2007-4,#u2016-4,#u2014-4,#u2015-4,#u2017-4,#u2020-4,#u2018-4,#u2019-4,#u2021-4,#u2910-4,#u2911-4,#u2912-4,#u2913-4,#u2915-4,#u2916-4,#u2917-4,#u2914-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2024-4,#u2026-4,#u2029-4,#u2027-4,#u2030-4,#u4134-4,#u4127-4,#u4128-4,#u4238-4,#u4237-4,#u4590-4,#u4595-4,#u4594-4,#u4599-4,#u4598-4,#u5181-4,#u5140-4,#u5141-4,#u5145-4,#u5144-4
{
	font-family: ubuntu-n5, sans-serif;
}

