#u3667-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3455-18
{
	font-family: ubuntu-n5, sans-serif;
}

#u4006-4,#u4007-4,#u4009-4,#u4012-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u3460-15,#u3794-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u4054-4,#u3804-6
{
	font-family: ubuntu-n5, sans-serif;
}

#u3745-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3743-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3970-4,#u3969-5,#u3966-4,#u3967-6,#u3973-4,#u3972-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3963-6
{
	font-family: gudea-n4, sans-serif;
}

#u3460-2,#u3460-3,#u3460-5,#u3460-6,#u3460-8,#u3460-9,#u3460-11,#u3460-12,#u3460-14,#u3826-6,#u3820-6,#u3811-4,#u3468-5,#u4112-5,#u4121-5,#u4231-5,#u3821-6,#u4013-2,#u4013-4,#u4013-6,#u4013-8,#u4013-10,#u4013-12,#u4013-14,#u4013-16,#u4013-17,#u4013-19,#u4013-21,#u4013-23,#u4013-24,#u4013-26,#u4013-27,#u4013-29,#u4013-30,#u4013-32,#u4013-33,#u4013-35,#u4013-36,#u4013-38,#u4013-39
{
	font-family: ubuntu-n3, sans-serif;
}

