.html
{
	background: #4EB2F0 url("../images/ravenna.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 746.8402578507385px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -144px;
	margin-bottom: 1px;
}

#pu4042
{
	width: 0.01px;
	left: -21px;
	position: relative;
}

#u4042
{
	z-index: 301;
	width: 176px;
	min-height: 100px;
	margin-right: -10000px;
}

#u4043
{
	z-index: 302;
	width: 179px;
	min-height: 100px;
	margin-right: -10000px;
	left: 178px;
}

#u4044
{
	z-index: 303;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	left: 369px;
}

#u4045
{
	z-index: 304;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	left: 589px;
}

#u4038
{
	z-index: 300;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 789px;
}

#pu3375
{
	width: 0.01px;
	left: -21px;
	margin-top: 7px;
	position: relative;
}

#u3375
{
	z-index: 2;
	width: 61px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 10px;
}

#u3376
{
	z-index: 3;
	width: 61px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 1171px;
}

#u3412
{
	z-index: 6;
	width: 1160px;
	-pie-box-shadow: 0px 0px 15px 4px #626060;
	-moz-box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	-webkit-box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 26px;
	padding: 119px 15px 114px;
	background: #FFFFFF url("../images/skelatal_weave.jpg") repeat center center;
}

#u3456-3
{
	z-index: 34;
	width: 5px;
	margin-left: 575px;
}

#u3830
{
	z-index: 7;
	width: 640px;
	margin-left: 12px;
	margin-top: 300px;
	position: relative;
}

#u3460-17
{
	z-index: 93;
	width: 1074px;
	min-height: 192px;
	line-height: 30px;
	font-size: 25px;
	margin-left: 43px;
	margin-top: 66px;
	position: relative;
}

#u3460-2,#u3460-3,#u3460-5,#u3460-6,#u3460-8,#u3460-9,#u3460-11,#u3460-12,#u3460-14
{
	color: #363635;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3460-15
{
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
}

#tutors
{
	margin-top: 27px;
	position: relative;
}

#u4006-4
{
	z-index: 26;
	width: 175px;
	min-height: 55px;
	color: #363635;
	line-height: 59px;
	font-size: 49px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 43px;
	margin-top: 50px;
	position: relative;
}

#pcontact
{
	width: 0.01px;
	margin-top: 836px;
	position: relative;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u3829-3
{
	z-index: 178;
	width: 1px;
	min-height: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 449px;
}

#u4007-4
{
	z-index: 18;
	width: 191px;
	min-height: 55px;
	color: #363635;
	line-height: 59px;
	font-size: 49px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 43px;
	margin-top: 36px;
	position: relative;
}

#pu3822
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 189px;
	position: relative;
}

#u3822
{
	z-index: 168;
	width: 57px;
	position: relative;
	margin-right: -10000px;
}

#u3826-6
{
	z-index: 172;
	width: 361px;
	min-height: 33px;
	color: #363635;
	line-height: 30px;
	font-size: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 68px;
}

#pu3824
{
	width: 0.01px;
	margin-left: 300px;
	margin-top: 37px;
	position: relative;
}

#u3824
{
	z-index: 170;
	width: 58px;
	position: relative;
	margin-right: -10000px;
}

#u3822_img,#u3824_img
{
	padding-right: 1px;
}

#u3820-6
{
	z-index: 156;
	width: 213px;
	min-height: 42px;
	color: #363635;
	line-height: 30px;
	font-size: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 68px;
}

#u3819
{
	z-index: 149;
	width: 138px;
	margin-left: 1022px;
	margin-top: 84px;
	position: relative;
}

#u3816
{
	z-index: 150;
	position: relative;
	width: 14px;
	margin-right: -10000px;
}

#u3816_img
{
	display: block;
	vertical-align: top;
}

#u3811-4
{
	z-index: 152;
	width: 121px;
	min-height: 26px;
	color: #4EB2F0;
	line-height: 22px;
	font-size: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#feedback
{
	margin-top: 247px;
	position: relative;
}

#u4009-4
{
	z-index: 22;
	width: 254px;
	min-height: 55px;
	color: #363635;
	line-height: 59px;
	font-size: 49px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 43px;
	margin-top: 40px;
	position: relative;
}

#u3947
{
	z-index: 183;
	width: 757px;
	margin-left: 129px;
	margin-top: 73px;
	position: relative;
}

#u4054-4
{
	z-index: 306;
	width: 284px;
	min-height: 32px;
	color: #363635;
	line-height: 38px;
	font-size: 32px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	margin-left: 117px;
	margin-top: 74px;
	position: relative;
}

#u4055
{
	z-index: 310;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 129px;
	margin-top: 28px;
	position: relative;
}

#founder
{
	margin-top: 88px;
	position: relative;
}

#u4012-4
{
	z-index: 14;
	width: 254px;
	min-height: 55px;
	color: #363635;
	line-height: 59px;
	font-size: 49px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 43px;
	margin-top: 42px;
	position: relative;
}

#u4052
{
	z-index: 30;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 663px;
	margin-top: 1205px;
	position: relative;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 26px;
}

#u4151
{
	z-index: 31;
	width: 30px;
	height: 24px;
	border-color: #000000;
	background-color: #363635;
	-webkit-transform: matrix(0.5878,0.809,-0.809,0.5878,16,-7);
	-ms-transform: matrix(0.5878,0.809,-0.809,0.5878,16,-7);
	-o-transform: matrix(0.5878,0.809,-0.809,0.5878,16,-7);
	transform: matrix(0.5878,0.809,-0.809,0.5878,16,-7);
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 705px;
}

#u3377
{
	z-index: 32;
	width: 1241px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u3667-4
{
	z-index: 37;
	width: 564px;
	min-height: 67px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 333px;
}

#u3930
{
	z-index: 42;
	height: 146px;
	width: 146px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 77px;
}

#slideshowu3465
{
	z-index: 46;
	width: 0.01px;
	height: 420px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 714px;
}

#u3507
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u3507popup
{
	z-index: 47;
}

#u3508
{
	z-index: 48;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3508_img
{
	margin-top: -19px;
	margin-bottom: -19px;
}

#u4106
{
	z-index: 50;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4106_img
{
	margin-top: -61px;
	margin-bottom: -61px;
}

#u4115
{
	z-index: 52;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4115_img
{
	margin-top: -50px;
	margin-bottom: -50px;
}

#u4225
{
	z-index: 54;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4225_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u4649
{
	z-index: 56;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3508_clip,#u4106_clip,#u4115_clip,#u4225_clip,#u4649_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u4649_img
{
	margin-top: -74px;
	margin-bottom: -74px;
}

#u3467
{
	position: absolute;
	width: 309px;
	top: 368px;
	left: 41px;
}

#u3467popup
{
	z-index: 58;
}

#u3468-5
{
	z-index: 59;
	width: 289px;
	min-height: 20px;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4112-5
{
	z-index: 64;
	width: 289px;
	min-height: 20px;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4121-5
{
	z-index: 69;
	width: 289px;
	min-height: 20px;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4231-5
{
	z-index: 74;
	width: 289px;
	min-height: 20px;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u4655-5
{
	z-index: 79;
	width: 289px;
	min-height: 20px;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u3468-2,#u4112-2,#u4121-2,#u4231-2,#u4655-2
{
	color: #4EB2F0;
}

#u3466-6
{
	position: absolute;
	width: 50px;
	min-height: 32px;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 368px;
	left: 410px;
}

#u3466-6popup
{
	z-index: 84;
}

#u3635
{
	z-index: 90;
	display: block;
	vertical-align: top;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3719
{
	z-index: 110;
	width: 640px;
	border-color: #000000;
	background-color: #4EB2F0;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 52px;
}

#u3803-4
{
	z-index: 139;
	width: 68px;
	min-height: 106px;
	font-size: 211px;
	color: #363635;
	line-height: 253px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#pu3794-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 72px;
}

#u3794-4
{
	z-index: 135;
	width: 496px;
	min-height: 75px;
	color: #363635;
	line-height: 55px;
	font-size: 46px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3804-6
{
	z-index: 143;
	width: 360px;
	min-height: 67px;
	color: #FFFFFF;
	text-align: left;
	line-height: 85px;
	font-size: 71px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	margin-left: 68px;
	margin-top: 11px;
	position: relative;
}

#u3733
{
	z-index: 111;
	width: 920px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1678px;
	left: 252px;
}

#u3734
{
	z-index: 112;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3738
{
	z-index: 114;
	width: 0.01px;
	height: 555px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 122px;
}

#u3741
{
	z-index: 115;
	width: 445px;
	position: relative;
	margin-right: -10000px;
	margin-top: 535px;
	left: 117px;
}

#u3744
{
	position: absolute;
	width: 168px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 6px 0px 0px 6px ;
	-webkit-border-radius: 6px 0px 0px 6px ;
	-khtml-border-radius: 6px 0px 0px 6px ;
	border-radius: 6px 0px 0px 6px ;
	padding-bottom: 7px;
	top: -10px;
	left: -31px;
}

#u3744.PamphletThumbSelected
{
	border-color: #0685CB;
	background-color: #4EB2F0;
	-moz-border-radius: 6px 0px 0px 6px ;
	-webkit-border-radius: 6px 0px 0px 6px ;
	-khtml-border-radius: 6px 0px 0px 6px ;
	border-radius: 6px 0px 0px 6px ;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3745-4
{
	z-index: 117;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	color: #6B6B6B;
	text-align: center;
	line-height: 16px;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 30px;
}

#u3744:hover #u3745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 9px -10000px 0px 0px;
}

#u3744.PamphletThumbSelected #u3745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 9px -10000px 0px 0px;
}

#u3744:hover #u3745-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#u3742
{
	position: absolute;
	width: 169px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	top: -10px;
	left: 139px;
	border-width: 1px 0px;
}

#u3742.PamphletThumbSelected
{
	border-color: #0685CB;
	background-color: #4EB2F0;
	width: 169px;
	min-height: 0px;
	margin: 0px;
}

#u3743-4
{
	z-index: 122;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	color: #6B6B6B;
	text-align: center;
	line-height: 16px;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 31px;
}

#u3742:hover #u3743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 10px -10000px 0px 0px;
}

#u3742:hover #u3743-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#u3746
{
	position: absolute;
	width: 168px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 6px 6px 0px ;
	-webkit-border-radius: 0px 6px 6px 0px ;
	-khtml-border-radius: 0px 6px 6px 0px ;
	border-radius: 0px 6px 6px 0px ;
	padding-bottom: 6px;
	top: -10px;
	left: 307px;
}

#u3746.PamphletThumbSelected
{
	border-color: #0685CB;
	background-color: #4EB2F0;
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u3747-4
{
	z-index: 127;
	width: 108px;
	min-height: 19px;
	background-color: transparent;
	color: #6B6B6B;
	text-align: center;
	line-height: 16px;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 29px;
}

#u3742.PamphletThumbSelected #u3743-4,#u3746:hover #u3747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 10px -10000px 0px 0px;
}

#u3746.PamphletThumbSelected #u3747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 10px -10000px 0px 0px;
}

#u3746:hover #u3747-4 p
{
	color: #4EB2F0;
	visibility: inherit;
}

#u3744.PamphletThumbSelected #u3745-4 p,#u3742.PamphletThumbSelected #u3743-4 p,#u3746.PamphletThumbSelected #u3747-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3757
{
	position: absolute;
	width: 679px;
}

#u3757popup
{
	z-index: 131;
}

#u3759
{
	z-index: 132;
	width: 679px;
	height: 427px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/mac1.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3760
{
	z-index: 133;
	width: 679px;
	height: 427px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/mac2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3758
{
	z-index: 134;
	width: 679px;
	height: 427px;
	border-style: none;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #000000 url("../images/mac3.jpg") no-repeat center center;
	background-size: cover !important;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u3821-6
{
	z-index: 162;
	width: 213px;
	min-height: 42px;
	color: #363635;
	line-height: 30px;
	font-size: 25px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2943px;
	left: 409px;
}

#u3833
{
	z-index: 181;
	width: 480px;
	position: relative;
	margin-right: -10000px;
	margin-top: 588px;
	left: 714px;
}

#pamphletu3952
{
	z-index: 185;
	width: 0.01px;
	height: 323px;
	padding-bottom: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3578px;
	left: 210px;
}

#u3964
{
	position: absolute;
	width: 862px;
}

#u3964popup
{
	z-index: 186;
}

#u3968
{
	z-index: 187;
	width: 461px;
	height: 278px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 76px 246px 10px 155px;
}

#u3970-4
{
	z-index: 188;
	width: 418px;
	min-height: 62px;
	color: #ECF0F1;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,12,-28);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,12,-28);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,12,-28);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,12,-28);
	margin-left: 8px;
	margin-top: 28px;
	margin-bottom: 28px;
	position: relative;
}

#u3969-5
{
	z-index: 192;
	width: 172px;
	min-height: 33px;
	line-height: 23px;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-12);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-12);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-12);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-12);
	margin-left: 287px;
	margin-top: 31px;
	margin-bottom: 12px;
	position: relative;
}

#u3965
{
	z-index: 197;
	width: 862px;
	height: 364px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3966-4
{
	z-index: 198;
	width: 440px;
	min-height: 173px;
	color: #ECF0F1;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,14,-30);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,14,-30);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,14,-30);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,14,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 155px;
}

#u3967-6
{
	z-index: 202;
	width: 187px;
	min-height: 33px;
	line-height: 23px;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-13);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-13);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-13);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-13);
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 416px;
}

#u3967-2
{
	color: #1ABC9C;
}

#u3971
{
	z-index: 208;
	width: 437px;
	height: 248px;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 104px 270px 12px 155px;
}

#u3973-4
{
	z-index: 209;
	width: 418px;
	min-height: 22px;
	background-color: transparent;
	color: #ECF0F1;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,8,-29);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,8,-29);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,8,-29);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,8,-29);
	margin-left: 4px;
	margin-top: 29px;
	margin-bottom: 29px;
	position: relative;
}

#u3972-5
{
	z-index: 213;
	width: 158px;
	min-height: 33px;
	line-height: 23px;
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-11);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-11);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-11);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,3,-11);
	margin-left: 278px;
	margin-top: 60px;
	margin-bottom: 11px;
	position: relative;
}

#u3969,#u3967,#u3972
{
	color: #EDE8E0;
}

#u3972-2
{
	color: #363635;
}

#u3974
{
	z-index: 218;
	width: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 305px;
	left: 271px;
}

#u3976
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #DDDDDD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u3976:hover
{
	background-color: #CCCCCC;
	margin: 0px;
}

#u3975
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #DDDDDD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	top: 4px;
	left: 20px;
}

#u3975:hover
{
	background-color: #CCCCCC;
	margin: 0px;
}

#u3976.PamphletThumbSelected,#u3975.PamphletThumbSelected
{
	background-color: #4F4E4D;
	margin: 0px;
}

#u3977
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #DDDDDD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	top: 8px;
	left: 39px;
}

#u3977:hover
{
	background-color: #CCCCCC;
	margin: 0px;
}

#u3977.PamphletThumbSelected
{
	background-color: #4F4E4D;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 0px;
}

#u3962
{
	position: absolute;
	width: 30px;
	border-color: #DDDDDD;
	background-color: transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 4px;
	top: 363px;
	left: 599px;
}

#u3963-6
{
	z-index: 223;
	width: 20px;
	min-height: 29px;
	padding-top: 2px;
	text-align: center;
	color: #0087FF;
	font-size: 14px;
	font-family: gudea, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.9903,0.1392,-0.1392,0.9903,2,-1);
	-ms-transform: matrix(0.9903,0.1392,-0.1392,0.9903,2,-1);
	-o-transform: matrix(0.9903,0.1392,-0.1392,0.9903,2,-1);
	transform: matrix(0.9903,0.1392,-0.1392,0.9903,2,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u3466,#u3963
{
	font-size: 1px;
	line-height: 0px;
}

#u3989
{
	z-index: 229;
	display: block;
	vertical-align: top;
}

#u4013-42
{
	z-index: 232;
	width: 1074px;
	min-height: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4598px;
	left: 84px;
}

#u4013-2,#u4013-4,#u4013-6,#u4013-8,#u4013-10,#u4013-12,#u4013-14,#u4013-16,#u4013-17,#u4013-19,#u4013-21,#u4013-23,#u4013-24,#u4013-26,#u4013-27,#u4013-29,#u4013-30,#u4013-32,#u4013-33,#u4013-35,#u4013-36,#u4013-38,#u4013-39
{
	font-size: 22px;
	line-height: 26px;
	color: #363635;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u4014
{
	z-index: 274;
	width: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4573px;
	left: 871px;
}

#u4014_img
{
	padding-bottom: 16px;
}

#u4144
{
	z-index: 276;
	width: 100px;
	-webkit-transform: matrix(0.7986,-0.6018,0.6018,0.7986,-16,39);
	-ms-transform: matrix(0.7986,-0.6018,0.6018,0.7986,-16,39);
	-o-transform: matrix(0.7986,-0.6018,0.6018,0.7986,-16,39);
	transform: matrix(0.7986,-0.6018,0.6018,0.7986,-16,39);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 716px;
}

#u4040
{
	z-index: 305;
	width: 189px;
	min-height: 159px;
	margin-right: -10000px;
	margin-top: 406px;
	left: 530px;
}

#u3944
{
	z-index: 278;
	width: 340px;
	top: 123px;
	left: 841px;
}

#u3449
{
	z-index: 280;
	height: 29px;
	width: 29px;
	margin-right: -10000px;
}

#u3455-18
{
	z-index: 282;
	width: 298px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 42px;
}

#pu3384
{
	width: 0.01px;
	left: -69px;
	top: -67px;
	margin-bottom: -67px;
	position: relative;
}

#u3384
{
	z-index: 4;
	width: 192px;
	height: 117px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 14px;
}

#u3385
{
	z-index: 5;
	width: 192px;
	height: 117px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1131px;
}

#u3386
{
	z-index: 33;
	width: 1337px;
	padding-bottom: 43px;
	margin-right: -10000px;
	margin-top: 65px;
}

#u4030
{
	z-index: 44;
	width: 138px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 89px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

