.html
{
	background: #7F7F7F url("../images/ravenna.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 746.5902578507394px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -144px;
}

#pu4042
{
	width: 0.01px;
	left: -21px;
	position: relative;
}

#u4042
{
	z-index: 50;
	width: 176px;
	min-height: 100px;
	margin-right: -10000px;
}

#u4043
{
	z-index: 51;
	width: 179px;
	min-height: 100px;
	margin-right: -10000px;
	left: 178px;
}

#u4044
{
	z-index: 52;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	left: 369px;
}

#u4045
{
	z-index: 53;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	left: 589px;
}

#u4038
{
	z-index: 49;
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 789px;
}

#pu3375
{
	width: 0.01px;
	left: -21px;
	margin-top: 7px;
	position: relative;
}

#u3375
{
	z-index: 2;
	width: 61px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 10px;
}

#u3376
{
	z-index: 3;
	width: 61px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 1171px;
}

#u4427
{
	z-index: 6;
	width: 800px;
	-pie-box-shadow: 0px 0px 15px 4px #626060;
	-moz-box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	-webkit-box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	box-shadow: 0px 0px 15px 4px rgba(31, 29, 29, 0.7);
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 26px;
	padding: 152px 195px 562px;
	background: #FFFFFF url("../images/skelatal_weave.jpg") repeat center center;
}

#u3456-3
{
	z-index: 15;
	width: 5px;
	margin-left: 395px;
}

#u4457-5
{
	z-index: 8;
	width: 711px;
	min-height: 63px;
	line-height: 31px;
	font-size: 26px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 44px;
	margin-top: 88px;
	position: relative;
}

#u4457-2
{
	text-align: center;
}

#u4436
{
	z-index: 7;
	width: 800px;
	min-height: 760px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u3377
{
	z-index: 13;
	width: 1241px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u3667-4
{
	z-index: 18;
	width: 564px;
	min-height: 67px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 333px;
}

#u3930
{
	z-index: 23;
	height: 146px;
	width: 146px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 77px;
}

#u4040
{
	z-index: 54;
	width: 189px;
	min-height: 159px;
	margin-right: -10000px;
	margin-top: 406px;
	left: 530px;
}

#u3944
{
	z-index: 27;
	width: 340px;
	top: 123px;
	left: 841px;
}

#u3449
{
	z-index: 29;
	height: 29px;
	width: 29px;
	margin-right: -10000px;
}

#u3455-18
{
	z-index: 31;
	width: 298px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 42px;
}

#pu3384
{
	width: 0.01px;
	left: -69px;
	top: -67px;
	margin-bottom: -67px;
	position: relative;
}

#u3384
{
	z-index: 4;
	width: 192px;
	height: 117px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 14px;
}

#u3385
{
	z-index: 5;
	width: 192px;
	height: 117px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 1131px;
}

#u3386
{
	z-index: 14;
	width: 1337px;
	padding-bottom: 43px;
	margin-right: -10000px;
	margin-top: 66px;
}

#u4030
{
	z-index: 25;
	width: 138px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 89px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

