#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1058-2,#u1058-3,#u1058-5,#u1058-6,#u1058-8,#u1058-9,#u1058-11,#u1058-12,#u1058-14
{
	font-family: ubuntu-n3, sans-serif;
}

