#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1229-3
{
	font-family: ubuntu-n4, sans-serif;
}

#u1229,#u1229-4,#u1229-6,#u1229-8,#u1229-10,#u1229-12,#u1229-14,#u1229-16,#u1229-18,#u1229-19,#u1229-21,#u1229-22,#u1229-24,#u1229-25,#u1229-27,#u1229-28,#u1229-30,#u1229-31,#u1229-33,#u1229-34,#u1229-36,#u1229-37
{
	font-family: ubuntu-n3, sans-serif;
}

