#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1192-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1193-4,#u1194-4,#u1195-4,#u1196-4,#u1197-5
{
	font-family: open-sans-n3, sans-serif;
}

