#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1139-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1135-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1137-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1157-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1160-4
{
	font-family: open-sans-n3, sans-serif;
}

