#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1223-2
{
	font-family: open-sans-i3, sans-serif;
}

#u1223-6,#u1224-8,#u1225-7
{
	font-family: open-sans-n3, sans-serif;
}

#u1221-4,#u1222-4
{
	font-family: open-sans-n4, sans-serif;
}

