#u812-7
{
	font-family: open-sans-n4, sans-serif;
}

#u818-4,#u819-7
{
	font-family: open-sans-n3, sans-serif;
}

#u4331-5,#u4333-5,#u4330-5,#u4332-5
{
	font-family: ubuntu-n3, sans-serif;
}

#u4279-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u4281-6
{
	font-family: ubuntu-n5, sans-serif;
}

