#u809
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u812-7
{
	font-size: 26px;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u812
{
	font-size: 1px;
	line-height: 0px;
}

#u4358_img
{
	vertical-align: bottom;
}

#u815,#u816,#u813,#u890
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1128-3
{
	position: relative;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1128-3.AccordionPanelTabOpen
{
	background-color: transparent;
}

#u1124
{
	background-color: #000000;
	position: relative;
}

#u1124:hover
{
	background-color: #363635;
}

#u1079
{
	background-color: #000000;
	position: relative;
}

#u1079:hover
{
	background-color: #363635;
}

#u1103
{
	background-color: #000000;
	position: relative;
}

#u1103:hover
{
	background-color: #363635;
}

#u1086
{
	background-color: #000000;
	position: relative;
}

#u1086:hover
{
	background-color: #363635;
}

#u1115
{
	background-color: #000000;
	position: relative;
}

#u1115:hover
{
	background-color: #363635;
}

#u1108
{
	background-color: #000000;
	position: relative;
}

#u1108:hover
{
	background-color: #363635;
}

#u808,#u810,#accordionu1059wrapper,#accordionu1059,#u1073,#u1074,#menuu1075,#u1121,#u1076,#u1100,#u1083,#u1114,#u1107,#u5062
{
	position: relative;
}

#u5063
{
	background-color: #000000;
	position: relative;
}

#u5063:hover
{
	background-color: #363635;
}

#u1124.MuseMenuActive,#u1079.MuseMenuActive,#u1103.MuseMenuActive,#u1086.MuseMenuActive,#u1115.MuseMenuActive,#u1108.MuseMenuActive,#u5063.MuseMenuActive
{
	background-color: #000000;
}

#u1127-4,#u1082-4,#u1106-4,#u1087-4,#u1118-4,#u1110-4,#u5064-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u817
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/dark_mosaic.jpg") repeat center bottom;
}

#u818-4,#u819-7
{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

